$def with (task_info, person_result)
<!doctype html>
<html lang="us">
	<head>
		<title>Task Burning</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" type="image/ico" href="static/img/task_burn.png" />
		<link href="static/css/jquery-ui.css" rel="stylesheet">
        <link href="static/css/jquery.multiselect.css" rel="stylesheet">
	<style>
	</style>
	<script type="text/javascript" src="static/js/jquery.js"></script>
	<script type="text/javascript" src="static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="static/js/jquery_multiselect_min.js"></script>
	<script type="text/javascript" src="static/js/jquery.validate.min.js"></script>
	<script type="text/javascript">
		$$(document).ready(function(){
			$$("body").css("background-color","#fbf6cc");
			$$( "input[type=text]" ).css("width","200px");
            $$( "#datepicker" ).datepicker({
                minDate: -7,
                maxDate: "+0M +0D"
            });
			$$("#task_owner_select").multiselect({
			   multiple: false,
			   header: false,
			   selectedText: function(numChecked, numTotal, checkedItems){
				  var checked="";
				  for(var i=0; i<numChecked; i++)
				  {
					checked += checkedItems[i].value + "|";
				  }
				  if(checked.length > 0)
				  {
					checked = checked.substr(0, checked.length - 1);
				  }
                  $$("#hidden_task_owner").val(checked);
				  //return numChecked + ' person ' + ' selected';
                  return $$("#task_owner_select option:selected").text();
			   },
               noneSelectedText: function() {
                  return '0 person selected';
                  $$("#hidden_task_owner").val("");
               }
			});
			$$("#task_owner_select").multiselect("uncheckAll");
            $$("#hidden_task_owner").val("");
            $$("#task_burn_form").validate();
            self.focus();
		});
		
		function submit_form()
		{
            if($$("#hidden_task_owner").val() != "")
            {
                $$("#task_burn_form").submit(); 
            }
            else
            {
                alert("Please choose at least one person!");
            }
		}
	</script>
	</head>
<body>
 <form id="task_burn_form" method="post" action="action_task_burn" autocomplete = "off">
	<input type="hidden" id="hidden_task_owner" name="task_owner" value=""/>
    <input type="hidden" id="task_status" name="task_status" value="$task_info.gettask_status()"/>
    <input type="hidden" id="id" name="id" value="$task_info.getid()"/>
    <input type="hidden" id="task_id" name="task_id" value="$task_info.gettask_id()"/>
    <input type="hidden" id="task_cost_id" name="task_cost_id" value="$task_info.gettask_cost_id()"/>
    <table id="id_task_burn_tb">
        <tr>
            <td width="35%"><h4>Task Name:</h4></td>
            <td class="">
				<div>
$ task_status = task_info.gettask_status()
$if task_status == '0':           
    <textarea id="task_name" name="task_name" rows="3" cols="26">$task_info.gettask_name()</textarea>
$else:
    $task_info.gettask_name()
    <input type="hidden" id="task_name" name="task_name" value="$task_info.gettask_name()"/>
$#////end if else////
				</div>
			</td>
        </tr>
        <tr>
            <td><h4>Task Effort:</h4></td>
            <td class="">
				<div>
                $if task_status == '0':
                        <input type="text" id="task_effort" name="task_effort" value="$task_info.gettask_effort()" class="required digits"/>
                $else:
                    $task_info.gettask_effort() &nbsp;(Man Hours)
                    <input type="hidden" id="task_effort" name="task_effort" value="$task_info.gettask_effort()"/>
                $#////end if else////
				</div>
			</td>
        </tr>
		<tr>
            <td>
            $if task_status == '0':
                <h4>Owner: </h4>
            $else:
                <h4>Contributor: </h4>
            $#////end if////
            </td>
            <td>
				<div>
					<select id="task_owner_select" name="task_owner_select">
						$if person_result is not None:
							$for e in range(len(person_result)):
								<option value="$person_result[e][0]">$person_result[e][3]</option>
					</select>
				</div>
			</td>
        </tr>
    $if task_status != '0': 
		<tr>
            <td> <h4>Burned Hours: </h4></td>
            <td>
				<div>
                    <input type="text" id="task_cost" name="task_cost" class="required number" max="8"/>
				</div>
			</td>
        </tr>
		<tr>
            <td><h4>Burned Date:</h4></td>
            <td>
				<div>
                    <div><p><input type="text" id="datepicker" name="datepicker" class="required"></p></div>
				</div>
			</td>
        </tr>
    $#////end if////
		<tr>
			<td><h4></h4></td>
		</tr>
		<tr>
            <td colspan="2" align="center">
				<div >
					<input type="button" id="create_task_submit" value="Submit" class="submit" onclick="submit_form()"/>
                    <input type="button" id="create_task_cancel" value="Cancel" class="submit" onclick="javascript:window.close();"/>
				</div>
    		</td>
        </tr>
    </table>
</form>
</body>
</html>